body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Encabezado*/

header {
    background-image: url('IMG/slide-paginaprincipal_optimized_optimized.01.png');
    background-size: 100% 430px;
    background-repeat: no-repeat;
    width: 100%;
    height: 430px;
    box-shadow: 0px 5px 10px #575757;
}

/*Menu pagina principal*/

.menu {
    width: 100%;
    height: 70px;
    background: #00000080;
    display: flex;
    align-items: center;
}

ul {
 cursor: pointer;
}

.logo_menu img {
    width: 130px;
    height: 100%;
    margin-left: 30px;
}

.menu_1 {
    margin-left: 7%;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    width: 700px;
    height: 60px;
    color: #fff;
}

.menu_1 .inicio {
    color: #fff;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.menu_1 ul, ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.menu_1 .nav li {
    padding: 0px 10px;
}

.menu_1 .nav li a {
    background-color: #fff;
    color: #000;
    text-decoration: none;
    display: block;
    margin: 0px;
    padding: 10px 2px;
    border: 1px solid transparent;
    border-bottom-color: #c9c9c9;
}

.menu_1 .nav li a:hover {
    color: #1d3a6c;
    transform: scale(1.01);
    transition: .2s;
}

.menu_1 .nav > li {
    float: right;
}

.flecha {
    width: 12px;
    height: 12px;
}

.menu_1 .nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.menu_1 .nav li:hover > ul {
    display: block;
    margin-left: -2%;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
}

.menu_2 {
    width: 240px;
    height: 60px;
    margin-left: 190px;
    display: flex;
    align-items: center;
    font-family: 'Open Sans',sans-serif;
    color: #fff;
}

.menu_2 ul, ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
}


.menu_2 .nav li {
    padding: 0px 10px;
}

.menu_2 .nav li a {
    background-color: #fff;
    color: #000;
    text-decoration: none;
    display: block;
    margin: 0px;
    padding: 10px 2px;
    border: 1px solid transparent;
}

.menu_2 .nav li a:hover {
    color: #1d3a6c;
    transform: scale(1.01);
    transition: .2s;
}

.menu_2 .nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.menu_2 .nav li:hover > ul {
    display: block;
    margin-left: -2%;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
}

.menu_2 .usuario_log {
    color: #fff;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    display: block;

}

.menu_2 button {
    background: transparent;
    border: 1px solid transparent;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.menu_2 button img {
    width: 15px;
    height: 15px;
    margin-left: 25px;
    margin-right: 6px;
    cursor: pointer;
}

.buscador {
    margin-left: 15px;
    width: 50px;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-left-color: #fff;
}

.buscador ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.buscador ul img {
    width: 15px;
    height: 15px;
}

.contenido_header {
    padding-top: 50px;
    width: 100%;
    height: 310px;
    background: #00000080;
}

/*Informacion del encabezado*/

.titulo_encabezado {
    width: 100%;
    height: 100px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo_encabezado h1 {
    font-family: 'Nunito',sans-serif;
    font-size: 37px;
}

.texto_encabezado {
    width: 100%;
    height: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto_encabezado p {
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/*Informacion de novedades*/

.novedades {
    margin-top: 10px;
    width: 80%;
    height: 700px;
    margin-left: 10%;
    border: 1px solid transparent;
    border-bottom-color: #9c9c9c;
}

.titulo_novedades {
    width: 100%;
    color: #1d3a6c;
}

.titulo_novedades h1 {
    font-family: 'Nunito',sans-serif;
    font-size: 26px;
}

.contenido_novedades {
    width: 100%;
    height: 500px;
    display: flex;
}

.parte_1 {
    width: 48%;
    height: 500px;
}

.parte_1 img {
    width: 95%;
    height: 55%;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #575757;
}

.subtitulo {
    margin-top: 10px;
    background: #1d3a6c;
    color: #fff;
    width: 95%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.subtitulo h2 {
    font-size:18px;
    font-family: 'Nunito',sans-serif;
}

.parte_1 .parrafo {
    width: 95%;
    color: #000;
}

.parte_1 .parrafo p {
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.parte_2 {
    width: 62%;
    height: 500px;
}

.parte_2_1 {
    display: flex;
    margin-bottom: 20px;
}

.contenido {
    margin-left: 4%;
    width: 48%;
    height: 300px;
}

.contenido img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #414141;
}
.subtitulo_contenido {
    margin-top: 10px;
    background: #1d3a6c;
    color: #fff;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.subtitulo_contenido h2 {
    font-size:15px;
    font-family: 'Nunito',sans-serif;
}

.parrafo_contenido {
    text-align: justify;
}

.parrafo_contenido p {
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
}

/*Informacion sobre aliados*/

.aliados {
    margin-top: 10px;
    width: 80%;
    margin-bottom: 20px;
    margin-left: 10%;
    border: 1px solid transparent;
}

.titulo_aliados {
    text-align: center;
    width: 100%;
    color: #1d3a6c;
}

.titulo_aliados h1 {
    font-family: 'Nunito',sans-serif;
    font-size: 26px;
}

.parrafo_aliados {
    width: 100%;
    color: #1d3a6c;
    text-align: center;
}

.parrafo_aliados p {
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
}

.imagenes_aliados {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: 16%;
    height: 50%;
    margin-left: 2%;
    transition: .3s;
}

.img img {
    width: 100%;
    height: 100%;
}

.img:hover {
    transform: scale(1.5);
    transition: .4s;
}

/*Registro de usuario*/

.registro {
    width: 100%;
    display: flex;
}

.img_registro {
    width: 50%;
    height:400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_registro img {
    width: 90%;
}

.formulario_registro {
    width: 50%;
    height:400px;
}

.formulario_registro h2 {
    font-size:20px;
    font-family: 'Nunito',sans-serif;
    color: #1d3a6c;
    text-align: center;
}

.formulario_registro form {
    width: 100%;
    height: 84%;
}

.formulario_registro form label {
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    color: #848383;
}

.formulario_registro form .entrada_texto {
    width: 98.5%;
    height: 20px;
    margin-bottom: 7px;
    border: 1px solid #848383;
    border-radius: 3px;
}

.btn_registro {
    margin-top: 2%;
    width: 100%;
    height: 40px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    color: #fff;
    background: #1d3a6c;
    border: 1px solid #1d3a6c;
    border-radius: 3px;
    cursor: pointer;
}

.a {
    text-decoration: none;
    color: #848383;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
}

/*Pie de pagina*/

footer {
    padding-top: 40px;
    width: 100%;
    height: 455px;
    background: #1d3a6c;
}

footer h3 {
    color: #fff;
    font-family: 'Nunito',sans-serif;
    font-size: 15px;
}

footer p {
    color: #fff;
    font-size: 12px;
    font-family: 'Open Sans',sans-serif;
    line-height: 1.5;
}

.informacion {
    width: 100%;
    display: flex;
    border: 1px solid transparent;
    border-bottom-color: #6f6f6f;
}

.redes {
    margin-top: 1%;
    width: 100%;
    display: flex;
}

.logo_footer {
    margin-left: 5%;
    width: 40px;
}

.logo_footer img {
    width: 100%;
}

.politica {
    color: #6f7e9d;
    font-size: 15px;
    border: 1px solid transparent;  
    display: flex; 
    align-items: center;
    margin-left: 15%;
}

.politica a {
    text-decoration: none;
    color: #fff;
    font-family: 'Open Sans',sans-serif;
}

.politica a:hover {
    text-decoration: underline;
}

.sociales {
    margin-left: 20%;
    display: flex;
    align-items: center;
}

.sociales span {
    margin-left: 20px;
    width: 15px;
}

.sociales span ion-icon {
    width: 100%;
    color: #bebbbb;
    transition: .2s;
}

.sociales span ion-icon:hover {
    transform: scale(1.1);
    transition: .3s;
    color: #fff;
}

.copy {
    margin-top: 4%;
    width: 100%;
    text-align: center;
}

.copy p {
    font-size: 15px;
    font-family: 'Open Sans',sans-serif;
    color: #6f7e9d;
}

/*Pagina .NET*/

.contenido_net {
    margin-top: 4%;
    margin-left: 10%;
    width: 80%;
    margin-bottom: 2%;
}

.titulo_net {
    width: 100%;
    color: #1d3a6c;
    text-align: center;
}

.titulo_net h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

.imagenes_net {
    width: 100%;
    height: 240px;
    display: flex;
}

.img_net {
    width: 15%;
    margin-left: 13%;
}

.imagenes {
    width: 100%;
    height: 160px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #414141;
}

.imagenes img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.titulo_imagenes {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    color: #1d3a6c;
}

.titulo_imagenes h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}

/*Parallax*/

.parallax {
    width: 100%;
    height: 400px;
}

.parallax .fondo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("IMG/fondo-almacenamiento-nube-diseno-redes-empresariales.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 3px;
}

.parrafo_1 {
    padding-top: 12.2%;
    width: 100%;
    color: #fff;
    text-align: center;
}

.parrafo_1 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.parrafo_2 {
    width: 100%;
    color: #fff;
    text-align: center;
}

.parrafo_2 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
}

/*  POPUP  */

.pagina_completa {
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.pagina_completa.active {
    visibility: visible;
}

.popup {
    background: #fff;
    box-shadow: 0px 0px 5px 0px #0000004d;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    width: 300px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 3px;

    transform: scale(.7);
    transition: .3s;
    opacity: 0;
}

.popup.active {
    opacity: 1;
    transform: scale(1);
}

.popup h3 {
    width: 100%;
    color: #1d3a6c;
}

.popup .formulario {
    width: 100%;
}

.popup .contenedor_input {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}

.popup .contenedor_input input {
    width: 97.5%;
    height: 100%;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
}

.popup .formulario button {
    width: 100%;
    height: 35px;
    background: #1d3a6c;
    color: #fff;
    border: 1px solid #1d3a6c;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.popup .formulario button:hover {
    cursor: pointer;
}

.pagina_completa .cerrar_popup {
    display: flex;
    width: 30px;
    position: absolute;
    margin-left: 305px;
    margin-top: -32px;
    transition: .3s;
}

.pagina_completa .cerrar_popup span {
    width: 100%;
    height: 100%;
}

.pagina_completa .cerrar_popup span ion-icon {
    width: 25px;
    height: 25px;
    background: #1d3a6c;
    border: 1px solid #1d3a6c;
    border-radius: 50%;
    color: #fff;
}